
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  max-width: 85%;
  margin: auto;
}
.title {
  margin: auto;
  width: fit-content;
  text-align: center;
  position: relative;
}
.title h1{
  margin: auto;
  text-align: center;
  width: fit-content;
  font-size: 7vh;
}


.box {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #d3f1fb;
  border-radius: 50%;
  overflow: hidden;
}
.box::before {
  content: "";
  position: absolute;
  inset: -10px 50px;
  background: linear-gradient(#86aaf9, #0d55f3);
  transition: 0.5s;
  -webkit-animation: animate1 4s linear infinite;
          animation: animate1 4s linear infinite;
}
.box::after {
  content: "";
  position: absolute;
  background-color: #2566f4;
  inset: 10px;
  border-radius: 50%;
  z-index: 1;
}
.box .content {
  position: absolute;
  inset: 30px;
  border: 6px solid #d8f6e7;
  z-index: 3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}
.box .content img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  text-align: center;
  pointer-events: none;
  z-index: 3;
}
.box .content h2 {
  position: relative;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 0;
  font-weight: bold;
}
.box .content h2 span {
  display: block;
  font-weight: 300;
  font-size: 10px;
  padding: 5px 0;
}
.box .content a {
  position: relative;
  background-color: #fff;
  color: #5dc693;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.5s;
}
.box .content a:hover {
  letter-spacing: 2px;
}
.box:hover::before {
  inset: -20px 0px;
}
.box:hover img {
  opacity: 0;
}

@-webkit-keyframes animate1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate1 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}





.box-alert {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #d3f1fb;
  border-radius: 50%;
  overflow: hidden;
}
.box-alert::before {
  content: "";
  position: absolute;
  inset: -10px 50px;
  background: linear-gradient(#ff5a5a, #d00000);
  transition: 0.5s;
  -webkit-animation: animate1 4s linear infinite;
          animation: animate1 4s linear infinite;
}
.box-alert::after {
  content: "";
  position: absolute;
  background-color: #b02020;
  inset: 10px;
  border-radius: 50%;
  z-index: 1;
}
.box-alert .content {
  position: absolute;
  inset: 30px;
  border: 6px solid #ffd0d0;
  z-index: 3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}
.box-alert .content img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  text-align: center;
  pointer-events: none;
  z-index: 3;
}
.box-alert .content h2 {
  position: relative;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 0;
  font-weight: bold;
}
.box-alert .content h2 span {
  display: block;
  font-weight: 300;
  font-size: 10px;
  padding: 5px 0;
}
.box-alert .content a {
  position: relative;
  background-color: #fff;
  color: #5dc693;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.5s;
}
.box-alert .content a:hover {
  letter-spacing: 2px;
}
.box-alert:hover::before {
  inset: -20px 0px;
}
.box-alert:hover img {
  opacity: 0;
}

/* -------------------------------------------------- */
.box-warning {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #d3f1fb;
  border-radius: 50%;
  overflow: hidden;
}
.box-warning::before {
  content: "";
  position: absolute;
  inset: -10px 50px;
  background: linear-gradient(	#ffc100, 	#ff7400);
  transition: 0.5s;
  -webkit-animation: animate1 4s linear infinite;
          animation: animate1 4s linear infinite;
}
.box-warning::after {
  content: "";
  position: absolute;
  background-color: #ff4d00;
  inset: 10px;
  border-radius: 50%;
  z-index: 1;
}
.box-warning .content {
  position: absolute;
  inset: 30px;
  border: 6px solid #ffd0d0;
  z-index: 3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}
.box-warning .content img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  text-align: center;
  pointer-events: none;
  z-index: 3;
}
.box-warning .content h2 {
  position: relative;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 0;
  font-weight: bold;
}
.box-warning .content h2 span {
  display: block;
  font-weight: 300;
  font-size: 10px;
  padding: 5px 0;
}
.box-warning .content a {
  position: relative;
  background-color: #fff;
  color: #5dc693;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.5s;
}
.box-warning .content a:hover {
  letter-spacing: 2px;
}
.box-warning:hover::before {
  inset: -20px 0px;
}
.box-warning:hover img {
  opacity: 0;
}



.vl {
  display: inline-block;
  align-self: stretch;
  width: 1px;
  min-height: 1em;
  background-color: currentcolor;
  opacity: 0.25;
}
div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.brand {
  text-align: center;
  padding: 10px 20px;
  color: #333;
}
b, p {
color: #333;
}

.card-normal {
  color: #2566f4;}
.card-alert {
  color:#b02020;
}

.table td, .table th {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 0px;
  font-size: 15px;
}


.card-warning {
  color:#ff4d00;
}

/* Report Section */

.report-wrapper {
  padding: 30px 0px
}

.report-heading {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.tab-content-wrapper {
  padding: 32px 20px
}

