{% extends 'base/template.html' %}

{% block head %}
    {% block head_extend %}{% endblock %}
{% endblock %}

{% block title %}
    {% block title_extend %}{% endblock %}
{% endblock %}

{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'product/css/navbar.css' %}">
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
            <div>
                <img src="{% static 'product/img/fish.png' %}" style="max-width: 40px; max-height: fit-content;"/>
                <a class="navbar-brand" href="#">PhishDetect</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Usecase</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Contact</a>
                    </li>
                </ul>
                
            </div>
            <div class="navbar-collapse collapse order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="text-primary nav-item">
                            <a class="nav-link" href="/accounts/information">InformationUser</a>
                        </li>
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Welcome, <span class="text-info">{{user.username}}</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/accounts/logout?next=/"><i class="fas fa-sign-out-alt fa-fw"></i> Logout</a>
                            </div>
                        
                        </li>
                    {% else %}
                    
                        <li class="text-primary nav-item">
                            <a class="nav-link" href="/accounts/login?next={{request.path}}"><i class="fas fa-sign-in-alt fa-fw"></i> Sign in</a>
                        </li>
                        <li class="text-primary nav-item">
                            <a class="nav-link" href="/accounts/register?next={{request.path}}" style="color: #0b4dda; font-weight: bold;"><i class="fas fa-user-plus fa-fw"></i> Sign up</a>
                        </li>
                {% endif %}
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}

        
        <!-- <footer>
            <div class="waves">
                <div class="wave" id="wave1"></div>
                <div class="wave" id="wave2"></div>
                <div class="wave" id="wave3"></div>
                <div class="wave" id="wave4"></div>
            </div>
            <div class="footer-bottom">
                <ul class="social-icon">
                    <li class="social-icon__item"><a class="social-icon__link" href="#">
                        <ion-icon name="logo-facebook" style="font-size: 2rem;"></ion-icon>
                      </a></li>
                    <li class="social-icon__item"><a class="social-icon__link" href="#">
                        <ion-icon name="logo-twitter" style="font-size: 2rem;"></ion-icon>
                      </a></li>
                    <li class="social-icon__item"><a class="social-icon__link" href="#">
                        <ion-icon name="logo-linkedin" style="font-size: 2rem;"></ion-icon>
                      </a></li>
                    <li class="social-icon__item"><a class="social-icon__link" href="#">
                        <ion-icon name="logo-instagram" style="font-size: 2rem;"></ion-icon>
                      </a></li>
                  </ul>
                  <ul class="menu">
                    <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">About</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
                    <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
                  </ul>
                  <p>&copy;2023 NhanLee NganLaam | All Rights Reserved</p>
            </div>
        </footer> -->



          <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
          <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        {% block script_body %}{% endblock%}
{% endblock %}

{% block script %}
    {% block script_extend %}{% endblock %}
{% endblock %}
