{% extends "base.html" %} 
{% block title %} Home {% endblock %}
{% block url%}
	<div class="row">
		<div class="cmt col-md-6 col-12 " style="background-color: dark; margin-top: 1rem;">
			<h4 style="padding-top: 1rem;">URL 
			</h4>
			<form method='POST'>
				{% csrf_token %}
				<div class="form-group">
					{{form.url}}
				</div>
				<a href="" type="submit" class="btn btn-outline-dark active" style="margin-bottom: 1rem;">Submit</a>
			</form>
		</div>
		<hr class="light-contact" />
	</div>
{% endblock url%}